<h1>Routing</h1>
<div class="container">
  <nav>
    <ul>
      <li>
        <a routerLink="/home/first-component" routerLinkActive="active">
          First component
        </a>
      </li>
      <li>
        <a routerLink="/home/second-component" routerLinkActive="active">
          Second component
        </a>
      </li>
      <li>
        <a routerLink="/erreur/de/typo" routerLinkActive="active">
          Vie eternel
        </a>
      </li>
      <li>
        <a routerLink="/lazy-loading" routerLinkActive="active">
          Lazy loading component
        </a>
      </li>
      <li>
        <a routerLink="/data" routerLinkActive="active">
          Data
        </a>
      </li>
      <li>
        <a routerLink="/guard/form" routerLinkActive="active">
          Form
        </a>
      </li>
      <li>
        <a routerLink="/guard/secret1" routerLinkActive="active">Secret 1</a>
      </li>
      <li>
        <a routerLink="/guard/secret2" routerLinkActive="active">Secret 2</a>
      </li>
    </ul>
  </nav>
  <body>
    <router-outlet></router-outlet>
  </body>
</div>
